/* Home Page */

position: absolute;
width: 1440px;
height: 2045px;



/* Desktop - 8 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;
isolation: isolate;

position: absolute;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Footer / 4 / */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 80px 64px;
gap: 80px;

position: absolute;
width: 1440px;
height: 334px;
left: 0px;
top: 690px;

background: #FFFFFF;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

width: 1312px;
height: 48px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Logo */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 296.5px;
height: 27px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Color = Dark */

width: 63px;
height: 27px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0.9%;
right: 78.97%;
top: 3.63%;
bottom: 22.22%;

background: #000000;


/* Vector */

position: absolute;
left: 22%;
right: 53.51%;
top: 22.3%;
bottom: 21.08%;

background: #000000;


/* Vector */

position: absolute;
left: 48.05%;
right: 27.95%;
top: 22.3%;
bottom: 2.21%;

background: #000000;


/* Vector */

position: absolute;
left: 74.97%;
right: 0.54%;
top: 22.3%;
bottom: 21.08%;

background: #000000;


/* Links */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 655px;
height: 48px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link One */

width: 79px;
height: 24px;

/* Text/Regular/Semi Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link Two */

width: 78px;
height: 24px;

/* Text/Regular/Semi Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link Three */

width: 140px;
height: 24px;

/* Text/Regular/Semi Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link Four */

width: 97px;
height: 48px;

/* Text/Regular/Semi Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* or 24px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Link Five */

width: 133px;
height: 24px;

/* Text/Regular/Semi Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Social Links */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 12px;

width: 296.5px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Icon / Facebook

Facebook
Social media
Logo
Brands
Digital communication
Online friends
*/

width: 24px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 9.34%;
bottom: 7.32%;

background: #000000;


/* Icon / Instagram

Social media
Logo
Brands
*/

width: 24px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 13.51%;
bottom: 11.49%;

background: #000000;


/* Icon / X

Twitter
Tweet
Logo
Social media
Brands
*/

width: 24px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 17.68%;
bottom: 15.66%;

background: #000000;


/* Icon / LinkedIn

Logo
Brands
Social media 
Networking
Career development
Online resume
Networking community
B2B networking
Business connections
*/

width: 24px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 13.51%;
bottom: 11.49%;

background: #000000;


/* Icon / Youtube

Videos
Logo
Social media
Brands
Video platform
Online video
Streaming video
Play button
Video content
*/

width: 24px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.28%;
right: 8.33%;
top: 20.83%;
bottom: 20.78%;

background: #000000;


/* Credits */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 32px;

width: 1312px;
height: 54px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Divider */

box-sizing: border-box;

width: 1312px;
height: 1px;

background: #000000;
border: 1px solid #000000;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 609px;
height: 21px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* © 2023 Relume. All rights reserved. */

width: 240px;
height: 21px;

/* Text/Small/Normal */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Footer Links */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 345px;
height: 21px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Privacy Policy */

width: 87px;
height: 21px;

/* Text/Small/Link */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
text-decoration-line: underline;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Terms of Service */

width: 105px;
height: 21px;

/* Text/Small/Link */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
text-decoration-line: underline;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Cookies Settings */

width: 105px;
height: 21px;

/* Text/Small/Link */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
text-decoration-line: underline;

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Contact / 20 / */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 112px 64px;
gap: 80px;

position: absolute;
width: 1440px;
height: 679px;
left: 0px;
top: 10px;

background: #FFFFFF;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Section Title */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 768px;
height: 149px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Subheading */

width: 58px;
height: 24px;

/* Text/Regular/Semi Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 768px;
height: 109px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Heading */

width: 768px;
height: 58px;

/* Heading/Desktop/H2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 768px;
height: 27px;

/* Text/Medium/Normal */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 48px;

width: 1312px;
height: 226px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 405.33px;
height: 202px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Icon / envelope */

width: 48px;
height: 48px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

background: #000000;


/* Contact Info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 405.33px;
height: 130px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 405.33px;
height: 82px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading */

width: 405.33px;
height: 42px;

/* Heading/Desktop/H4 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 130%;
/* identical to box height, or 42px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 405.33px;
height: 24px;

/* Text/Regular/Normal */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Link */

width: 405.33px;
height: 24px;

/* Text/Regular/Link */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;
text-decoration-line: underline;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 405.33px;
height: 202px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Icon / phone */

width: 48px;
height: 48px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 12.48%;
right: 8.33%;
top: 8.33%;
bottom: 12.48%;

background: #000000;


/* Contact Info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 405.33px;
height: 130px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 405.33px;
height: 82px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading */

width: 405.33px;
height: 42px;

/* Heading/Desktop/H4 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 130%;
/* identical to box height, or 42px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 405.33px;
height: 24px;

/* Text/Regular/Normal */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Link */

width: 405.33px;
height: 24px;

/* Text/Regular/Link */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;
text-decoration-line: underline;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 405.33px;
height: 226px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Icon / map */

width: 48px;
height: 48px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


/* Contact Info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 405.33px;
height: 154px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 405.33px;
height: 82px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading */

width: 405.33px;
height: 42px;

/* Heading/Desktop/H4 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 130%;
/* identical to box height, or 42px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 405.33px;
height: 24px;

/* Text/Regular/Normal */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Link */

width: 405.33px;
height: 48px;

/* Text/Regular/Link */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
text-align: center;
text-decoration-line: underline;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Desktop - 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;
isolation: isolate;

position: absolute;
width: 1440px;
height: 1025px;

background: #FFFFFF;


/* Frame 1 */

position: absolute;
width: 1440px;
height: 110px;
left: 0px;
top: 0px;

background: url(wallpaperflare.com_wallpaper (27).jpg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* healthicons:lungs-negative */

position: absolute;
width: 100px;
height: 110px;
left: 0px;
top: 0px;

background: url(1000_F_541064021_Xf1gzlObJlEd1fcUxJ3qINkLSFhRCPqe.jpg);


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* healthiconsLungsNegative0 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 0%;
right: -0.08%;
top: -0.08%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: -0.08%;
top: -0.08%;
bottom: 0%;

background: #000000;


/* Column */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 63px;
height: 27px;
left: 100px;
top: 39.5px;

border-radius: 0px;


/* Color = Dark */

box-sizing: border-box;

width: 63px;
height: 27px;

border: 1px solid #FFFFFF;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0.9%;
right: 78.97%;
top: 3.63%;
bottom: 22.22%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 22%;
right: 53.51%;
top: 22.3%;
bottom: 21.08%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 48.05%;
right: 27.95%;
top: 22.3%;
bottom: 2.21%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 74.97%;
right: 0.54%;
top: 22.3%;
bottom: 21.08%;

background: #FFFFFF;


/* Column */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 32px;

position: absolute;
width: 1277px;
height: 40px;
left: 163px;
top: 33px;

border-radius: 0px;


/* Column */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 375px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link One */

margin: 0 auto;
width: 78px;
height: 24px;

/* Text/Regular/Normal */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link Two */

margin: 0 auto;
width: 29px;
height: 24px;

/* Text/Regular/Normal */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link Three */

margin: 0 auto;
width: 56px;
height: 24px;

/* Text/Regular/Normal */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Nav Link Dropdown */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

margin: 0 auto;
width: 116px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Link Four */

width: 88px;
height: 24px;

/* Text/Regular/Normal */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Chevron Down */

width: 24px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 23.76%;
right: 23.76%;
top: 36.26%;
bottom: 34.05%;

background: #FFFFFF;


/* Column */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

width: 222px;
height: 40px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Style=Secondary, Small=True, Dark mode=False, Icon position=No icon */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 20px;
gap: 8px;

width: 111px;
height: 40px;

border: 1px solid #FFFFFF;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

margin: 0 auto;
width: 81px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Style=Primary, Small=True, Dark mode=False, Icon position=No icon */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 20px;
gap: 8px;

width: 95px;
height: 40px;

background: #000000;
border: 1px solid #000000;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

width: 55px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2 */

position: absolute;
width: 1440px;
height: 915px;
left: 0px;
top: 110px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(1000_F_541064021_Xf1gzlObJlEd1fcUxJ3qINkLSFhRCPqe.jpg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Column */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 841px;
height: 397px;
left: 57px;
top: 258px;

border-radius: 0px;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 841px;
height: 250px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Medium length hero headline goes here */

width: 841px;
height: 154px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 120%;
/* or 77px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. */

width: 841px;
height: 72px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Actions */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 0px 0px;
gap: 16px;

width: 207px;
height: 64px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Style=Primary, Small=False, Dark mode=False, Icon position=No icon */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 8px;

width: 88px;
height: 48px;

background: #000000;
border: 1px solid #000000;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 40px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Style=Secondary, Small=False, Dark mode=True, Icon position=No icon */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 8px;

width: 103px;
height: 48px;

border: 1px solid #FFFFFF;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

width: 55px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
