/* Home Page */
.position-absolute {
    position: absolute;
}

.width-1440 {
    width: 1440px;
}

.height-2045 {
    height: 2045px;
}

/* Desktop - 8 */
.display-flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.align-items-flex-start {
    align-items: flex-start;
}

.padding-10 {
    padding: 10px;
}

.gap-10 {
    gap: 10px;
}

.isolation-isolate {
    isolation: isolate;
}

.background-white {
    background: #FFFFFF;
}

/* Footer / 4 / */
.padding-80-64 {
    padding: 80px 64px;
}

.height-334 {
    height: 334px;
}

.left-0 {
    left: 0px;
}

.top-690 {
    top: 690px;
}

.border-radius-0 {
    border-radius: 0px;
}

/* Content */
.width-1312 {
    width: 1312px;
}

.height-48 {
    height: 48px;
}

/* Logo */
.width-296-5 {
    width: 296.5px;
}

.height-27 {
    height: 27px;
}

/* Color = Dark */
.color-dark {
    color: #000000;
}

/* Links */
.width-655 {
    width: 655px;
}

.height-24 {
    height: 24px;
}

/* Social Links */
.justify-content-flex-end {
    justify-content: flex-end;
}

.width-24 {
    width: 24px;
}

.height-24 {
    height: 24px;
}

/* Credits */
.height-54 {
    height: 54px;
}

.border {
    border: 1px solid #000000;
}

/* Row */
.width-609 {
    width: 609px;
}

.height-21 {
    height: 21px;
}

/* Footer Links */
.width-345 {
    width: 345px;
}

/* Contact / 20 / */
.padding-112-64 {
    padding: 112px 64px;
}

.height-679 {
    height: 679px;
}

.top-10 {
    top: 10px;
}

/* Section Title */
.height-149 {
    height: 149px;
}

/* Subheading */
.width-58 {
    width: 58px;
}

/* Content */
.height-109 {
    height: 109px;
}

.width-768 {
    width: 768px;
}

/* Heading */
.width-768 {
    width: 768px;
}

.font-size-48 {
    font-size: 48px;
}

/* Text */
.font-size-18 {
    font-size: 18px;
}

/* Row */
.width-1312 {
    width: 1312px;
}

.height-226 {
    height: 226px;
}

/* Column */
.width-63 {
    width: 63px;
}

.height-27 {
    height: 27px;
}

/* Desktop - 1 */
.width-1277 {
    width: 1277px;
}

.height-40 {
    height: 40px;
}

/* Column */
.width-375 {
    width: 375px;
}

.height-24 {
    height: 24px;
}

/* Nav Link Dropdown */
.width-116 {
    width: 116px;
}

/* Frame 1 */
.width-1440 {
    width: 1440px;
}

.height-110 {
    height: 110px;
}

/* Frame 2 */
.width-1440 {
    width: 1440px;
}

.height-915 {
    height: 915px;
}

/* Column */
.width-841 {
    width: 841px;
}

.height-397 {
    height: 397px;
}